<h1 mat-dialog-title>Add new Todoist integration</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Integration Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <p>You can get your API token <a href="https://todoist.com/app/settings/integrations/developer" target="_blank">here</a></p>
  <mat-form-field>
    <mat-label>API token</mat-label>
    <input matInput [(ngModel)]="data.key">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
  <button mat-button [mat-dialog-close]="{data: data, success: true}" cdkFocusInitial>Add integration</button>
</div>