<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ChipsNote</span>
    <span class="example-spacer"></span>
    <span (click)="auth.logout()" class="button" *ngIf="auth.isAuthenticated$ | async">Logout</span>
    <span (click)="auth.loginWithRedirect()" class="button" *ngIf="!(auth.isAuthenticated$ | async)">Login</span>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="auth.user$ | async as user">
  <h2>Welcome</h2>
  <p>{{ user.email }}</p>
</div>

<body>
  <router-outlet></router-outlet>
</body>